/* (A) WRAPPER */
#quizWrap {
  max-width: 600px;
  margin: 0 auto;
}
.question {
  background: #efefef;
  border-radius: 10px;
  margin-top: 40px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: 5px 5px 9px 0 #cccccc
}

/* (B) QUESTION */
.trailsQuizQn {
  position: relative;
  background: #4c93ba00;
  padding: 0px;
  color: #000000;
  font-size: 24px;
}

.qnContainer {
  padding: 15px 20px 10px 20px;
  background: #ffffff00;
  border-bottom:#bbbbbb solid;
  border-width: 1px;
}

/* (C) ANSWERS */
.trailsQuizAns {
  margin: 10px 0;
  /*display: grid;*/
  /*grid-template-columns: auto auto;*/
  /*grid-gap: 10px;*/
}
/* .trailsQuizAns input[type=radio] { display: none; } */

.trailsQuizAnsUnselected {
  box-shadow: 0 0 0 2px #47474700;
  border: 2px solid #ffffff;
  border-radius:2px;
  background: #cecece;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}
.trailsQuizAnsUnselected:hover {
  box-shadow: 0 0 0 2px #474747;
  border: 2px solid #ffffff;
  border-radius:2px;
  background: #cecece;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}
.trailsQuizAnsCorrect {
  box-shadow: 0 0 0 2px #474747;
  border: 2px solid #ffffff;
  border-radius:2px;
  color : #ffffff; 
  background: #1caa4e;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}
.trailsQuizAnsWrong {
  box-shadow: 0 0 0 2px #474747;
  border: 2px solid #ffffff;
  border-radius:2px;
  color: #ffffff;
  background: #e00000;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}
.trailsQuizAnsSelected {
  box-shadow: 0 0 0 2px #474747;
  border: 2px solid #ffffff;
  border-radius:2px;
  background: #b8b8b8;
  color: #474747;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.trailsQuizExplain {
  background: #60cd86;
  border-radius:5px;
  color: #474747;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.result {
  color: #474747;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.unselectedAnswer{
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;    
}

.trailsQuizSubmit {
  background: #fafafa;
  border: 1px solid #60a03f;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
}

.correctAnswer{
  color : #1caa4e; 
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.trailsButtonWrapper {
  text-align: center;
}

.quizNumber{
  position: absolute;
  background: #355bae;
  top: -35px;
  left: 10px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  height: 30px;
  font-size: 15px;
}