/* (A) WRAPPER */
#quizWrap {
  max-width: 600px;
  margin: 0 auto;
}
body {
  background-image: url('bg.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/*Styles for question card, question title and question content. Applies to all types of questions.*/
.question {
  background-color: rgba(50, 50, 50, 1);  
  box-shadow:  0 0 20px rgba(0, 0, 0, .5);
  margin-top: 60px;
  padding: 0px 20px 20px 20px;
  width :400px;
}
.question-number{
  /*box-shadow: 3px 3px 0px 2px #474747;*/
  opacity: 1;
  position: relative;
  background: #355bae;
  left: -20px;
  color: #FFE5B4;
  text-align: center;
  width: 80px;
  height: 21px;
  font-size: 15px;
  font-weight: bold;
}
.question-text {
  text-indent: 1em;
  margin: 20px 20px 20px 20px;
  color: #ffcf91;
  font-weight: bold;
}
.letter {
  position:absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
}

/*Styles for multiple choice answers.*/

/*default state*/
.mc-ans-container {
  position:relative;
  margin-bottom: 50px;
  margin-left: 20px;
  width: 300px;
}
.mc-img-ans-container {
  position: relative;
  display: inline-block;
  margin: 0 25px 50px 20px;
}
.mc-img-ans-container-text {
  width: 125px;
  text-align: center;
  text-indent: 0;
}
.mc-img-ans-container > .mc-ans-box {
  position:relative;
  top:30px;
  left:30px;
  z-index:0;
  width: 125px;
  border-radius: 5px;
  color:#ffcf91;
  line-height: 30px;
  transition: 0.3s;
  font-weight: bold;
}
.mc-img-ans-container > .mc-ans-box > img{
  height: 125px;
  width: 125px;
  object-fit: contain;
}
.svg-gear {
  position: absolute;
  align-items: center;
  z-index:2;
  transition: 0.3s;
}
.svg-bg{
  position:absolute;
  z-index:1;
  top:0;
  left:0;
}
.svg-poly{
  stroke:rgba(50, 50, 50, 1); 
  stroke-width:6px; 
  fill:rgba(50, 50, 50, 1); 
}
.mc-ans-box {
  position:relative;
  text-align: center;
  top:30px;
  left:30px;
  z-index:0;
  width:310px;
  border-radius: 5px;
  line-height: 30px;
  color: #ffcf91;
  transition: 0.3s;
  font-weight: bold;
}
.mc-ans-box:before {
  content:"";
  position:absolute;
  top:-7.5px;
  left:-7.5px;
  width:30px;
  height:30px;
  border-top:1px solid white;
  border-left:1px solid white;
  transition: 0.3s;
  opacity: 0.8;
}
.mc-ans-box:after {
  content:"";
  position:absolute;
  bottom:-7.5px;
  right:-7.5px;
  width:30px;
  height:30px;
  border-bottom:1px solid white;
  border-right:1px solid white;
  transition: 0.3s;
  opacity: 0.8;
}

/*hover state*/
.mc-ans-container:hover > .svg-gear , .mc-img-ans-container:hover > .svg-gear{
  transform: rotate(30deg);
}
.mc-ans-container:hover, .mc-img-ans-container:hover{
  cursor: pointer;
}
.mc-ans-container:hover > .mc-ans-box:before {
  width : 330px;
  height : calc(100% + 20px);
  opacity: 1;
  border-top:1.5px solid white;
  border-left:1.5px solid white;
}
.mc-img-ans-container:hover > .mc-ans-box:before{
  width : 145px;
  height : calc(100% + 20px);
  opacity: 1;
  border-top:1.5px solid white;
  border-left:1.5px solid white;
}
.mc-ans-container:hover >.mc-ans-box:after {
  width : 330px;
  height : calc(100% + 20px);
  opacity: 1;
  border-bottom:1.5px solid white;
  border-right:1.5px solid white;
}
.mc-img-ans-container:hover > .mc-ans-box:after{
  width : 145px;
  height : calc(100% + 20px);
  opacity: 1;
  border-bottom:1.5px solid white;
  border-right:1.5px solid white;
}
.mc-ans-container:hover > .mc-ans-box , .mc-img-ans-container:hover > .mc-ans-box{
  background-color: cornsilk;
  transition: 0.3s;
  color:#2c2c2c;
  cursor: pointer;
}
.mc-ans-container > .svg-gear , .mc-img-ans-container > .svg-gear{
  transition: 0.3s;
}
.mc-ans-container > .svg-gear > g > path , .mc-img-ans-container > .svg-gear > g > path{
  transition: 0.3s;
}
.mc-ans-container > .mc-ans-box , .mc-img-ans-container > .mc-ans-box{
  transition: 0.3s;
}

/*selected state*/
.svg-gear-selected {
  transform: rotate(30deg);
  position: absolute;
  align-items: center;
  z-index:2;
  transition: 0.3s;
}
.mc-ans-selected {
  background-color: cornsilk;
  transition: 0.3s;
  color:#2c2c2c;
  cursor: pointer;
}
.mc-ans-selected:before {
  width : 330px;
  height : calc(100% + 20px);
  border-top:1.5px solid white;
  border-left:1.5px solid white;
}
.mc-ans-selected:after {
  width : 330px;
  height : calc(100% + 20px);
  border-bottom:1.5px solid white;
  border-right:1.5px solid white;
}
.mc-ans-selected-img {
  background-color: cornsilk;
  transition: 0.3s;
  color:#2c2c2c;
  cursor: pointer;
}
.mc-ans-selected-img:before {
  width : 145px;
  height : calc(100% + 20px);
  border-top:1.5px solid white;
  border-left:1.5px solid white;
}
.mc-ans-selected-img:after {
  width : 145px;
  height : calc(100% + 20px);
  border-bottom:1.5px solid white;
  border-right:1.5px solid white;
}

/*result state*/
.mc-ans-correct {
  background-color: #355bae;
  color: white !important;
}
.mc-ans-wrong {
  background-color: #831c1c;
  color:white !important;
}

@keyframes select {
  0% {border: 4px solid #ffffff; padding: 12px;}
  50% {border: 4px solid #000000; padding: 12px;}
  100% {border: 4px solid #ffffff; padding: 12px;}
}

.submit {
  width: 100px;
  margin: 20px auto;
}
.submit button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.submit button:hover {
  transition: 0.1s;
  border: 2px solid white;
}
.submit button:active {
  transition: 0.1s;
  background-color: white;
  color: black;
}

.trailsTimer {
  display: none;
  position: fixed;
  vertical-align: middle;
  right: 30px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: large;
  padding: 40px;
}
