/* (A) WRAPPER */
#quizWrap {
  max-width: 600px;
  margin: 0 auto;
}
.question {
  box-shadow: 2px 2px 2px 1px; 
  background: #404040;
  border-radius: 10px;
  margin-top: 60px;
  padding: 0px 20px 20px 20px;
}

/* (B) QUESTION */
.trailsQuizQn {
  position: relative;
  background: #4c93ba00;
  padding: 0px;
  color: #ffffff;
  font-size: 24px;
}

.qnContainer {
  padding: 15px 20px 10px 20px;
  background: #ffffff00;
  border-bottom:#bbbbbb solid;
  border-width: 1px;
}

/* (C) ANSWERS */
.trailsQuizAns {
  margin: 10px 0;
  /*display: grid;*/
  /*grid-template-columns: auto auto;*/
  /*grid-gap: 10px;*/
}
/* .trailsQuizAns input[type=radio] { display: none; } */

.trailsQuizAnsUnselected {
  box-shadow: 0 0 0 2px #47474700;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius:2px;
  background: #404040;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}
.trailsQuizAnsUnselected:hover {
  animation-name: select;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  border-radius:2px;
  background: #505050;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

@keyframes select {
  0% {border: 4px solid #ffffff; padding: 12px;}
  50% {border: 4px solid #000000; padding: 12px;}
  100% {border: 4px solid #ffffff; padding: 12px;}
}

.trailsQuizAnsCorrect {
  box-shadow: 0 0 0 2px #474747;
  border: 2px solid #ffffff;
  border-radius:2px;
  color : #ffffff; 
  background: #1caa4e;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}
.trailsQuizAnsWrong {
  box-shadow: 0 0 0 2px #474747;
  border: 2px solid #ffffff;
  border-radius:2px;
  color: #ffffff;
  background: #e00000;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}
.trailsQuizAnsSelected {
  box-shadow: 0 0 0 2px #474747;
  border: 2px solid #ffffff;
  border-radius:2px;
  background: #b8b8b8;
  color: #474747;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.trailsQuizExplain {
  background: #60cd86;
  border-radius:5px;
  color: #474747;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.result {
  color: #474747;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.unselectedAnswer{
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;    
}

.trailsQuizSubmit {
  background: #fafafa;
  border: 1px solid #60a03f;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  z-index: 2;
}

.correctAnswer{
  color : #1caa4e; 
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  max-width:600px; 
  word-wrap:break-word;
  margin-top: 0px;
  margin-bottom: 10px;
}

.trailsButtonWrapper {
  text-align: center;
}

.quizNumber{
  box-shadow: 3px 3px 0px 2px #474747;
  opacity: 1;
  position: absolute;
  background: #355bae;
  top: -35px;
  left: 10px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.result{
  box-shadow: 3px 3px 0px 2px #474747;
  opacity: 1;
  position: absolute;
  background: #355bae;
  top: -35px;
  left: 10px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.letter {
  position:absolute;
  top:10px;
  left:10px;
  font-size: 25px;
  color: white;
  height:30px;
  width:30px;
  text-align: center;
}

.circle {
  position: relative;
  align-items: center;
}

.trailsTimer {
  position: fixed;
  vertical-align: middle;
  right: 30px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: large;
}